@import "maps";
@import "mixins";

.app {
  padding: 48px 0;
  background: map-get($colors, dim-cold);
  height: 100%;

  &__content {
    @include content-grid;
  }

  &__action {
    width: 45%;

    @include not-desktop {
      width: 100%;
    }
  }

  &__table {
    margin-top: 50px;
  }
}