@import "maps";

.app-button {
  font-size: 12px;
  width: 100%;
  border: none;
  color: #fff;
  background: map-get($colors, primary);
  border-radius: 4px;
  cursor: pointer;
  padding: 0 16px;

  &--disabled {
    background: map-get($colors, dim);
    cursor: not-allowed;
  }

  &--normal {
    height: 42px;
  }

  &--small {
    height: 24px;
  }
}