$colors: (
  default: #fff,
  primary-hot: #1493FE,
  primary: #1193FF,
  primary-cold: #057AE3,
  secondary: #0A508B,
  error: #B0263D,
  dim-hot: #868A8D,
  dim-warm: #EBEBEB,
  dim: #C2CBD1,
  dim-cool: #E6ECEF,
  dim-cold: #E5E5E5,
);