@import "settings";

@mixin not-desktop {
  @media screen and (max-width: $tabletMax) {
    @content;
  }
}

@mixin content-grid($mobileGap: $mobilePadding) {
  width: 100%;
  max-width: $gridWidth;
  margin-left: auto;
  margin-right: auto;

  @include not-desktop {
    padding-left: $mobileGap;
    padding-right: $mobileGap;
  }
}

@mixin get-modifiers($parameter, $list) {
  @each $key, $value in $list {
    &--#{$key} {
      #{$parameter}: $value;
    }
  }
}