@import "maps";
@import "mixins";

.user-table-hat {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr 1.5fr 3fr;
  background: map-get($colors, secondary);
  border-radius: 4px 4px 0 0;

  @include not-desktop {
    display: none;
  }

  &__item {
    padding: 9px 12px 7px;
    border: none;
    color: rgba(255, 255, 255, 0.5);

    @include not-desktop {
      display: grid;
      grid-gap: 5px;
    }
  }
}